* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.9); }
  header input {
    display: none; }
  header label {
    font-size: 32px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 0 20px; }
    header label i {
      font-size: 28px; }
    header label:hover {
      transform: scale(1.05); }
  header button {
    background: transparent;
    border: 0;
    color: white;
    height: 100%;
    padding: 0 20px;
    font-size: 28px;
    cursor: pointer; }
    header button:hover {
      transform: scale(1.05); }
    header button i {
      font-size: 30px; }

.spacer {
  width: 100%;
  height: 60px; }

main {
  position: relative;
  width: 100%; }
  main .ajustes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap; }
    main .ajustes .unColor {
      width: 50%;
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      padding: 25px; }
      main .ajustes .unColor label {
        width: 20%;
        height: 30px;
        font-size: 16px;
        padding: 5px;
        cursor: pointer; }
      main .ajustes .unColor input {
        width: 30%;
        height: 30px;
        background: transparent;
        border: 0;
        padding: 5px;
        font-size: 16px;
        cursor: pointer; }
        main .ajustes .unColor input[type="text"] {
          border-bottom: 2px solid black; }
          main .ajustes .unColor input[type="text"]:focus {
            outline: none !important;
            outline-width: 0 !important;
            border-bottom: 2px solid blue; }
        main .ajustes .unColor input[type="color"] {
          height: 40px; }
          main .ajustes .unColor input[type="color"]:focus {
            outline: none !important;
            outline-width: 0 !important; }
  main .div-colores {
    width: 100%;
    display: flex;
    justify-content: center; }
    main .div-colores button {
      width: 150px;
      height: 50px;
      background: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      color: white;
      cursor: pointer; }
      main .div-colores button:hover {
        transform: scale(1.05);
        background: rgba(0, 0, 0, 0.65); }
  main .detalles {
    z-index: 100;
    top: 5%;
    right: 5%;
    position: fixed;
    width: 25%;
    visibility: visible;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    margin: 25px;
    margin-left: 5%;
    display: flex;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 25px; }
    main .detalles button {
      position: absolute;
      right: 25px;
      top: 25px;
      width: 25px;
      height: 25px;
      background: rgba(128, 0, 0, 0.75);
      border-radius: 15px;
      color: white; }
      main .detalles button:hover {
        transform: scale(1.05);
        background: rgba(128, 0, 0, 0.5); }
    main .detalles .point {
      left: 15px;
      position: relative;
      background: rgba(0, 0, 128, 0.75);
      width: 75px;
      height: 25px;
      color: white;
      border-radius: 2px;
      margin: 0px 10px 25px 10px; }
      main .detalles .point:hover {
        transform: scale(1.05);
        background: rgba(0, 0, 128, 0.5); }
  main .matriz {
    width: 70%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 10px auto; }
    main .matriz .elemento {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      height: 35px;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 1px;
      border: 0.5px solid rgba(0, 0, 0, 0.25);
      cursor: pointer; }
      main .matriz .elemento .start {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        z-index: 10; }
      main .matriz .elemento .end {
        position: absolute;
        right: 10%;
        top: 0;
        width: 50%;
        z-index: 10; }
      main .matriz .elemento img {
        position: absolute;
        margin: auto;
        width: 40px;
        height: 40px;
        z-index: 25; }
      main .matriz .elemento .visitados {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
        line-height: 12px;
        height: 12px;
        width: 100%;
        color: white;
        text-shadow: 2px 2px black;
        z-index: 50;
        overflow: hidden; }
      main .matriz .elemento .x {
        display: none; }
      main .matriz .elemento .y {
        display: none; }
      main .matriz .elemento .personaje {
        width: 25px;
        height: 25px;
        user-select: none; }
      main .matriz .elemento .Inicial {
        width: 10px;
        height: 10px;
        user-select: none; }
      main .matriz .elemento .final {
        width: 10px;
        height: 10px;
        user-select: none; }
  main .player {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap; }
    main .player .character {
      width: 19%;
      display: flex;
      flex-flow: row wrap;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 15px; }
      main .player .character .character-part {
        width: 40%;
        margin: 5px auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: stretch; }
        main .player .character .character-part select {
          width: 100%;
          height: 40px;
          border: 0.5px solid rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          font-size: 12px;
          padding: 5px; }
        main .player .character .character-part label {
          width: 100%;
          margin: 5px auto;
          display: flex;
          justify-content: center;
          flex-flow: column wrap; }
          main .player .character .character-part label span {
            width: 100%;
            padding-left: 10px; }
          main .player .character .character-part label .picture-label {
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; }
        main .player .character .character-part input {
          width: 100%;
          height: 40px;
          border: 0.5px solid rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          font-size: 12px;
          padding: 5px; }
      main .player .character .btns {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: 10px auto; }
        main .player .character .btns .btn {
          width: 45%;
          height: 30px;
          background: transparent;
          border: 0.5px solid rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          cursor: pointer;
          font-size: 12px; }
          main .player .character .btns .btn:hover {
            transform: scale(1.05); }
        main .player .character .btns .select {
          background: rgba(0, 0, 128, 0.75);
          color: white; }
          main .player .character .btns .select:hover {
            background: rgba(0, 0, 128, 0.25); }
        main .player .character .btns .play {
          background: rgba(0, 128, 0, 0.75);
          color: white; }
          main .player .character .btns .play:hover {
            background: rgba(0, 128, 0, 0.25); }
        main .player .character .btns .delete {
          background: rgba(128, 0, 0, 0.75);
          color: white; }
          main .player .character .btns .delete:hover {
            background: rgba(128, 0, 0, 0.25); }
  main .inicio {
    width: 80%;
    height: 50px;
    margin: 10px auto; }
    main .inicio button {
      width: 100%;
      height: 100%;
      background: rgba(128, 0, 0, 0.75);
      padding: 5px;
      font-size: 30px;
      color: white;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s;
      border-style: outset;
      border: 2px solid rgba(0, 0, 0, 0.5); }
      main .inicio button i {
        transform: rotate(0deg);
        transition: transform 1s; }
      main .inicio button:hover {
        transform: scale(1.05); }
        main .inicio button:hover i {
          transform: rotate(360deg); }
  main .jugadores {
    width: 90%;
    margin: 5px auto;
    display: none; }
    main .jugadores .modo {
      width: 100%;
      margin: 5px 10px;
      display: none;
      flex-flow: row wrap;
      justify-content: space-between;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 15px; }
      main .jugadores .modo .expansion {
        width: 50%;
        padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch; }
        main .jugadores .modo .expansion h3 {
          width: 100%;
          font-size: 24px;
          text-align: center; }
        main .jugadores .modo .expansion label {
          display: inline-block;
          width: 25%;
          margin: 5px auto;
          padding: 5px; }
        main .jugadores .modo .expansion select {
          height: 30px;
          width: 75%;
          margin: 5px auto;
          padding: 5px; }
      main .jugadores .modo .algoritmo {
        width: 50%;
        padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        border-left: 1px solid rgba(0, 0, 0, 0.25); }
        main .jugadores .modo .algoritmo h3 {
          width: 100%;
          font-size: 24px;
          text-align: center; }
        main .jugadores .modo .algoritmo label {
          display: inline-block;
          width: 40%;
          margin: 5px auto;
          padding: 5px; }
        main .jugadores .modo .algoritmo select {
          height: 30px;
          width: 60%;
          margin: 5px auto;
          padding: 5px; }
        main .jugadores .modo .algoritmo .distancias {
          width: 100%;
          display: none; }
        main .jugadores .modo .algoritmo .minilabel {
          display: inline-block;
          width: 20%;
          margin: 5px auto;
          padding: 5px; }
        main .jugadores .modo .algoritmo input {
          height: 30px;
          width: 20%;
          margin: 5px auto;
          padding: 5px; }
  main .bar {
    width: 100%;
    height: 50px;
    margin: 5px auto;
    font-size: 26px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.aviso {
  width: 80%;
  height: 100%;
  margin: 10px auto;
  background: rgba(11, 125, 186, 0.75);
  line-height: 50px;
  font-size: 18px;
  color: white;
  text-align: center;
  transition: transform 0.3s;
  border-style: outset;
  border: 2px solid rgba(0, 0, 0, 0.5);
  animation-name: bg-gold;
  animation-duration: 4s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  overflow: auto; }
  .aviso i {
    transform: rotate(0deg);
    transition: transform 1s;
    animation-name: rotate-icon;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }

@keyframes bg-gold {
  0% {
    background-color: #efb810; }
  20% {
    background-color: #deae34; }
  35% {
    background-color: #cda548; }
  50% {
    background-color: #bc9b59; }
  65% {
    background-color: #a99267; }
  80% {
    background-color: #968974; }
  100% {
    background-color: #808080; } }

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.desconocido {
  background: black !important; }

.camino {
  background: #efb810 !important;
  animation-name: bg-gold !important;
  animation-duration: 1s !important;
  animation-direction: reverse !important;
  animation-iteration-count: infinite !important; }

.arbol {
  width: 90%;
  margin: 0 5%;
  line-height: 30px;
  min-height: 500px; }
  .arbol .row {
    position: relative; }
    .arbol .row i {
      position: absolute;
      left: -30px;
      top: 2px;
      width: 25px;
      display: none;
      font-size: 24px;
      color: gray; }
  .arbol .rama {
    font-size: 16px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    margin: 5px;
    padding: 0;
    display: inline-block;
    cursor: pointer; }
    .arbol .rama .costo {
      padding: 5px;
      color: blue; }
    .arbol .rama .visita {
      padding: 5px;
      color: red; }
    .arbol .rama .cascoor {
      display: inline-block;
      width: 50px;
      padding: 5px;
      text-align: center;
      border: 0.5px solid rgba(0, 0, 0, 0.25); }
      .arbol .rama .cascoor .buble {
        color: white;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        display: inline-block;
        width: 30px;
        height: 30px; }
  .arbol .inicial {
    font-size: 16px;
    font-weight: bold;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 75px;
    color: white;
    background: #c45555;
    text-align: center; }
  .arbol .final {
    font-size: 16px;
    font-weight: bold;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 75px;
    color: white;
    background: #5561c4;
    text-align: center; }
  .arbol .actual {
    font-size: 16px;
    font-weight: bold;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    margin: 5px 0;
    padding: 5px;
    display: inline-block;
    width: 75px;
    color: white;
    background: #55c45a;
    text-align: center; }
